.blogs {
  padding: 1rem;
}
.title {
  font-size: large;

  text-align: center;
}
.blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 36px;
  margin: auto;

  padding: 50px;
}
.blogCart {
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.content {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 24px;
  max-width: 35ch;
}
@media (max-width: 768) {
  .blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 12px;
    margin: auto;
  }
}
